<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>House</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.age %></td>
        <td><%= ['Gryffyndor','Hufflepuff','Ravenclaw','Slytherin'][student.house_id-1] %></td>
        <td><a href="/students/<%= student.house_id %>">View</a></td>
        <td><a href="/students/<%= student.house_id %>/edit">Edit</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
